body{
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #8ECAE6; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rock p, .paper p, .scissors p {
    font-size: 1.2rem;
    font-weight: bold;
    border: none;  
}


.rock,.paper,.scissors{
    border-radius: 50%;
    padding: 20px;
    width: 90px;
    margin-bottom: 50px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px hsla(0, 0%, 0%,.70);
    background-color: #FB8500;
}


.rock:hover,.paper:hover,.scissors:hover{
    cursor: pointer;
    box-shadow: 5px 5px hsla(0, 0%, 0%,.50);
}


.scoreboard,.scoreboard-headers,.score-display,.message-display{
    display: flex;
}

.scoreboard{
    flex-direction: column;
    justify-content: space-around;
}

.container, .scoreboard{
    width: 50%;
    height: 100%;
}

.scoreboard-headers, .score-display{
    justify-content: space-around;
    
}

.message-display{
    align-self: center;
}

.score-display p{
    background-color: #219EBC;
    padding: 70px;
}

.score-display{
    font-size: 3rem;
    font-weight: bold;
}

.message-display{
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #219EBC;
    width: 650px;
    height: 300px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

