body{
    margin: 0;
    padding: 0;
    color: #474340;
    background-color: #FFCAB1; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rock p, .paper p, .scissors p {
    font-size: 1.2rem;
    font-weight: bold;
    border: none;  
}


.rock,.paper,.scissors{
    border: 5px solid #968E85;
    border-radius: 50%;
    padding: 20px;
    width: 90px;
    margin-bottom: 50px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px hsla(0, 0%, 0%,.70);
}


.rock:hover,.paper:hover,.scissors:hover{
    cursor: pointer;
    box-shadow: 5px 5px hsla(0, 0%, 0%,.50);
}

.rock{
    background-color: #8CC084;
}

.paper{
    background-color: #ECDCB0;
}

.scissors{
    background-color: #C1D7AE;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container, .scoreboard{
    width: 50%;
    height: 100%;
}

.scoreboard-headers, .score-display{
    display: flex;
    justify-content: space-around;
}

